// Variables
//

// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Fonts


// Colors
//

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #F76B1C !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Grayscale and brand colors for use across Bootstrap.
// Create grayscale
$gray-dark:                 #0D1B28 !default;
$gray:                      #0d1e2e !default;
$gray-light:                #2D3746 !default;
$gray-lighter:              #38414F !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $orange !default;
$brand-success:             $green !default;
$brand-info:                $gray !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
) !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:       $white !default;
$body-color:    $gray-dark !default;

// Links
//
// Style anchor elements.

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       'Titillium Web', sans-serif;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.9 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   500 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight:     300 !default;
$display2-weight:     300 !default;
$display3-weight:     300 !default;
$display4-weight:     300 !default;
$display-line-height: $headings-line-height !default;


$lead-font-size:   1.25rem !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$blockquote-font-size:    ($font-size-base * 1.25) !default;



@import 'bootstrap-4.0.0-alpha.6';


// ADD YOUR CUSTOM CSS HERE  

body > * {
  background-size: cover;
  background-repeat: none;
  background-position: center ;
}

@media (max-width: 575px) {
  .hidden-xs-down {
   display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

#footer-custom {
  background-color: #091520 !important;
}

.Group {
  width: 226px;
  height: 51px;
  object-fit: contain;
  margin-top: 38px;
  margin-left: 13%;
}

.Banksealer-Srl-Polih {
  width: 294px;
  height: 100px;
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
  margin-left: 13%;
  line-height: 1.56;
  color: #ffffff;
}

.infobanksealercom {
  width: 263px;
  height: 16px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 13%;
  color: #ff6d00;
}

.Copyright-2017-Ban {
  font-size: 16px;
  font-weight: 200;
}

.footerline {
  background: white;
  opacity: 0.13;
}

.Banksealer-partner {
  opacity: 0.45;
  font-size: 14px;
  font-weight: 200;
  margin-top: 23px;
  margin-right: 4%;
  text-align: right;
  line-height: 1.79;
}

@media (max-width: 575px) {
   .Banksealer-partner {
    text-align: left !important;
    margin-left: 13%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .Banksealer-partner {
    text-align: center !important;
  }
}

.sn-logo {
  width: 233px;
}

.buildo-logo {
  width: 47px;
}

.logo_spin_off {
  width: 160px;
}

.security-rockstar {
  width: 90px;
}

.digital-awards {
  width: 166px;
}

.Finalist {
  font-size: 11px;
  font-weight: 200;
  line-height: 2.27;
  margin-top: 12px;
}

.Finalist2 {
  font-size: 11px;
  font-weight: 200;
  margin-top: 12px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgba(247, 107, 28, 0.9);
}

.divider-vertical {
  height: 15px;
  margin: 16 4px;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #FFF;
}

.Our-Partners {
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
}

.Banksealer-is-a-spin {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #ffffff;
}

.Leading-security-fir {
  opacity: 0.4;
  font-size: 14px;
  font-weight: 200;
  line-height: 2.14;
  text-align: center;
  color: #ffffff;
}

.white-balance {
  font-weight: 200;
}
